
:root{
  width: 100%;
  height: 100%;
  background: #202124;
  background-image:url(./assets/bg.png);
  background-attachment: fixed;
  object-fit: cover;
  box-sizing: border-box;
  --golden_color:#DCCA87 ;
  --dark_color:black;
  --font-base: "Cormorant Upright",serif;
  --font-alt: "Open Sans",sans-serif;
  --color-golden: #dcca87;
  --color-black: #0c0c0c;
  --color-gray: #545454;
  --color-crimson: #f5efdb;
  --color-grey: #aaa;
  --color-white: #fff;
  --font-lg:30px;
  --font-xlg:150px;
  --font-name:37px;
}

